<div class="container p-4">
  <div class="row">
    <div class="col col-6 mx-auto">
      <form action="/api/seleccionar" method="post">
        <div class="mb-3 text-center">
          <label for="dropdown">Selecciona una opción:</label>
          <select id="dropdown" name="idt">
            {{#each datos}}
            <option value={{this.idt}}>{{this.idt}}: {{this.st}}</option>
            {{/each}}
          </select>
        </div>
        <div class="mb-3 text-center">
          <label for="dropdown">Selecciona la dificultad:</label>
          <select id="dropdown" name="level">
            <option value='10'>Fácil</option>
            <option value='20'>Medio</option>
            <option value='30'>Difícil</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>