<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <h1>Proof</h1>
      <p>Proof of concept</p>
    </div>

    <div class="col-md-12 mx-auto">
      <div class="card bg-dark text-center">
        <form action="/admin/upload" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <input type="file" class="form-control-file btn btn-info p-2" name="file">
            <input type="submit" value="Subir" class="btn btn-success p-4">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>