<div class="container">
  <div class="row p-4">
    <div class="col-8 mx-auto">
      <div class="card bg-dark text-white text-center">
        <div class="card-header">
          <h1>Login</h1>
        </div>
        <div class="card-body">
          <form action="/login" method="post">
            <div class="mb-3">
              <label for="user" class="form-label">Username</label>
              <input type="text" class="form-control" id="user" name="user" placeholder="Username">
            </div>
            <div class="mb-3">
              <label for="pass" class="form-label">Password</label>
              <input type="text" class="form-control" id="pass" name="pass" placeholder="Password">
            </div>
            <div class="mb-3 text-center">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>